.movie-details__container {
  margin-top: calc(60px + 2rem);
}

.movie-credits__container {
  background: #f5f6fa;
  color: black;
  padding: 0.5rem;
}

.movie-credits__actors__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-credits__actors__container::after {
  content: "";
  flex: auto;
}

@media screen and (max-width: 768px) {
  .movie-details__container {
    margin-top: calc(60px + 5rem);
  }
}
