.button-filter__container {
  margin-top: calc(60px + 2rem);
}

@media screen and (max-width: 768px) {
  .button-filter__container {
    margin-top: calc(60px + 5rem);
    display: flex;
    justify-content: center;
  }
}
